@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

img {
    height: 200px;
    width: 200px;
}

body {
    min-height: 100vh;
}

.section {
    display:flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    width: 100%
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px 200px;
    gap: 100px;
}

.hero-text, .main-text {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header, footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

.navigation a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 10px;
}

.intro h1 {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    margin: 20px 0;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0;
}

.btn-first {
    text-decoration: none;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 12px 36px;
    border-radius: 8px
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}


.content .info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.content ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-size: 20px;
}



.content .path {
    border: 5px solid #3882f6;
    border-radius: 10%;
    margin: 10px;
}

.content .tech {
    text-align: center;
    padding: 20px;
}

.inspiration {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 100px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-person {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 20%;
}

.action {
    background-color: #3882f6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 60px 100px;
    margin: 60px 140px;
    border-radius: 20px;
}

.action h5 {
    font-size: 24px;
    margin: 10px 0;
}

.action p {
    font-size: 18px;
}

.btn-second {
    color: #F9FAF8;
    text-decoration: none;
    padding: 12px 36px;
    border-radius: 8px;
    border-color: #F9FAF8;
    border: 3px solid;
}

